html { scroll-behavior: smooth; }
body{ background-color: whitesmoke; max-width: 1776px; }
main{ margin: 0 $body-clamp; }

// Applies to the index and the list pages
.small-article-text { margin: 1rem 0; }
.taxonomies a { text-decoration: underline; }
article { margin-bottom: 4rem; }