#site-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    width: 100%;
    max-height: 520px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

figure{
    margin: 1rem 0;
}

figure img {
    min-width: 201px;
    max-width: 100%;
}