$body-clamp: clamp(16px, 3.125vw, 32px);

@import 'reset';
@import 'vars';

@import 'typography';
@import 'images';

@import 'skip-to-content';
@import 'nav';

@import 'body';
@import 'index';
@import 'single';
@import 'list';

@import '404';



@media only screen and (max-width: 480px) {
    nav ul li h2 { padding-top: calc(100vw - 98.5vw); }
}

@media only screen and (min-width: 563px) {
    #index, #list {
        display: flex; 
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: $body-clamp;
        article{ width: 48.33%; }
    }
}

@media only screen and (min-width: 890px) {
    #index, #list { article { width: 31.11%; } }    
}

@media only screen and (min-width: 606px){
    #single{
        display: flex;
        gap: 32px;
        section:first-child{
            position: sticky;
            top: 240px;
            min-width: clamp(256px, 43.75vw, 672px);
            max-height: 260px;
            h1 {
                font-size: 32px;
                margin-bottom: 32px;
            }
            * { max-width: 352px; }
        }
        article { width: clamp(256px, 50vw, 627px); }
    }
}