nav:before{
    content: "";
    height: 32px;
}
nav {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    z-index: 99;
    margin-bottom: 16px;
    
    h1 {
        position: relative;
        top: 12px;
        margin-top: -12px;
        margin-left: $body-clamp;
        a {  color: #343434; }

    } 

    ul {
        margin-left: $body-clamp;
        display: flex;
        gap: clamp(24px, 4.5vw, 32px);
        li {
            padding: 2.25px 0;
            h2 { margin: 0; }
        }
    }

    ul li a:hover{
        text-decoration: underline;
        text-decoration-color: #989898;
    }
    
    .active-nav-item{ text-decoration: underline; }
}
