* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-size: 1em;
}
hr{ border-top: 1px solid black }