/*
    The TOC is currently unused,
    and there is no plan to revive it.
*/


// section#toc{
//     background-color: #f5f5f5;
//     margin: 1rem 0 2rem 0;
//     min-width: 398px;
//     p{
//         margin-left: 1rem;
//         padding: 1ch 0;
//     }
//     hr{ margin-bottom: 0.5rem; }
//     border: 1px solid black;
// }

// // Body of the TOC
// nav#TableOfContents {
//     // Clear from primary nav
//     margin: 0;
//     padding: 0;
//     ul {
//         // Clear from primary nav
//         display: block;
//         li{
//             // Clear from primary nav
//             padding: 1ch 3ch;
//             & a:hover { 
//                 border-bottom: none; 
//                 background-color: $hover-color;
//             }
//         }
//     }
// }