#site-title { font-size: clamp(32px, 10.75vw, 80px); }

h1, h2, h3, h4, h5, h6{ font-family: 'Optima'; }
main { h1, h2, h3 { font-weight: normal; }}

h1 { font-size: clamp(40px, 5.75vw, 44px); }
h2 { font-size: clamp(32px, 4.625vw, 36px); }
h3 { font-size: clamp(22px, 3.125vw, 26px); }

nav ul li h2 { font-size: clamp(20px, 4.8vw, 36px); }

h1{ margin-top: 4rem; }
h1:first-of-type { margin-top: 0px; }
h2{ margin-top: 3rem; }
h3{ margin-top: 2rem; }
h1, h2, h3 { margin-bottom: .5rem; }

.article-title { font-size: clamp(22px, 2.75vw, 40px)}

p { 
    font-family: 'Garamond';
    font-size: clamp(14px, 2.5vw, 18px);
    line-height: clamp(22px, 3.625vw, 28px);
    margin-bottom: 8px;
}

ul, li { font-family: 'Garamond'; }

small, date, time{
    font-size: 12px;
    line-height: 14px;
}

* { color: #343434; }
a { color: #565656; }