{{ define "main" }}
<main id="list">

    <figure id="site-hero">
        <img
            src="{{ .Site.Params.image }}"
            alt="White neon sign that reads 'this must be the place' on a geometric background of warm colors"
        />
    </figure>

    {{ range .Pages }}
    {{ partial "article-list" . }}
    {{ end }}
</main>
{{ end }}