{{ define "main" }}
<main id="single">
  <section>
    <h1 class=""> {{ .Title }} </h1>
    <small> Reading Time: {{ .ReadingTime }} minutes. <br> {{ .WordCount }} words. </small>
    {{ partial "taxonomies" . }}
  </section>

  <article>
    {{ .Content }}
  </article>
</main>
{{ end }}
