{{ define "main" }}
<main id="main" class="list taxonomy">
  <p>Posts in the {{ .Data.Singular }}: </p>
  <h1>{{ .Data.Term | title }}</h1>

  {{ range .Data.Pages }}
    <article>
      
      <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title | title }}</a></h1>
      <date>Published: {{ .Params.date.Format "January 2, 2006" }}</date><br>
      <time>{{ .ReadingTime }} minute read</time>
      <br><br>

      <div class="taxonomies">
        {{ with .Params.categories }}
          <small> Categories: </small>
          <p> {{ range . }} <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} </p>
          <br>
        {{ end }}

        {{ with .Params.tags }}
          <small>Tags:</small>
          <p> {{ range . }} <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} </p>
          <br>
        {{ end }}

        {{ with .Params.series }}
          <small>Series:</small>
          <p> {{ range . }} <a href="{{ "/series/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} </p>
          <br>
        {{ end }}
      </div>

      <br><br>
      <p>{{ .Description}}</p>

    </article>
  {{ end }}

</main>
{{ end }}