{{ define "main" }}
<main id="main" class="list terms">

  <h1>{{ .Data.Plural | title }}</h1>

  <ul>
  {{ range .Data.Pages }}
    <li class="term">
      <h2 class=""><a href="{{ .Permalink }}">{{ .Title | title }}</a></h2>
    </li>
  {{ end }}
  </ul>

</main>
{{ end }}