<article>
    {{ $link := .Permalink }}
      <figure>
      {{ if .Params.image }}
        <img
          src="{{ .Site.BaseURL }}{{ .Params.image }}"
          alt="{{ .Params.imagealt }}"
        />
      {{ end }}
      {{ with .Params.figcaption }}
        <figcaption> {{ . }} </figcaption>
      {{ end }}
      </figure>

  <h1 class="article-title">
    <a href="{{ .Permalink }}">{{ .Title | title }}</a>
  </h1>

  <div class="small-article-text">
    <small>Published: {{ .Params.date.Format "January 2, 2006" }} </small>
    {{ partial "taxonomies" . }}
  </div>

  <p>{{ .Params.description}}</p>
</article>