<!-- Necessary -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="url" content="{{ .Permalink }}" />


<!-- Force IE 8/9/10 to use its latest rendering engine -->
<meta http-equiv="x-ua-compatible" content="ie=edge">


<!-- Control the behavior of search engine crawling and indexing -->
<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->


<!-- Author and framework -->
<meta name="generator" content="Hugo">
<meta name="author" content="{{ .Site.Author.name }}">
<meta name="subject" content="Art, Design, Philosophy, and Software.">
<meta name="description" content="{{ .Site.Params.description }}" />


<!-- Sitemap XML and RSS feeds -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> 
{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}

<!-- For images -->
{{ $NoSlashBaseURL := slicestr .Site.BaseURL 0 (sub (len .Site.BaseURL) 1) }}
<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
<meta property="og:title" content="{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}" />
<meta property="article:author" content="{{ .Site.Author.name }}">
<meta property="og:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

{{ if .Params.image }}
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}">
  <meta property="og:image:alt" content="{{ .Params.imgalt }}">
{{ else }}
  <meta property="og:image" content="{{ .Site.Params.image | absURL }}">
  <meta property="og:image:alt" content="{{ .Site.Params.imgalt }}">
{{ end }}


<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}" />
<meta name="twitter:description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
{{ if .Params.image }}
  <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.image }}">
  <meta name="twitter:image:alt" content="{{ .Params.imgalt }}">
{{ else }}
  <meta name="twitter:image" content="{{ .Site.Params.image | absURL }}">
  <meta name="twitter:image:alt" content="{{ .Site.Params.imgalt }}">
{{ end }}


<!-- TODO: Schema -->
<!-- For Schema.org -->
<!-- <meta itemprop="name" content="{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}" />
<meta itemprop="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}" /> -->