<nav>
  {{ $currentPage := . }}
  <h1 id="site-title"> <a href="/"> {{ .Site.Title }} </a> </h1>
  <hr>
  <ul>
    {{ range site.Menus.main }}
      <li><h2><a
        href="{{ .URL }}"
        class="nav-item {{ if (eq $currentPage.Section .Identifier) }}active-nav-item{{ end }}"
      >
        {{ .Name }}
        </a></h2></li>
    {{ end }}
  </ul>
  <hr>
</nav>