<div class="taxonomies">
    {{ with .Params.categories }}
        <small> Categories: </small>
        {{ range . }} <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
        <br>
    {{ end }}

    {{ with .Params.tags }}
        <small>Tags:</small>
        {{ range . }} <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
        <br>
    {{ end }}

    {{ with .Params.series }}
        <small>Series:</small>
        {{ range . }} <a href="{{ "/series/" | relURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
        <br>
    {{ end }}
</div>