{{ define "main" }}
<main id="index">

  <figure id="site-hero">
    <img
      src="{{ .Site.Params.image }}"
      alt="White neon sign that reads 'this must be the place' on a geometric background of warm colors"
    />
  </figure>

    {{ range first 6 .Site.RegularPages }}
      {{ if ne .Type "pages" }}
        {{ partial "article-list" . }}
      {{ end }}
    {{ end }}

</main>
{{ end }}